.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* grid-template-columns: minmax(10vw, 25vw) minmax(30vw, 65vw); */
  padding: 0;
  margin: 0 2vw;
  min-height: 100vh;
  min-width: 90vw;
  align-items: start;
  width: fit-content;
  height: fit-content;
  
}

.player-container {
  width: min(90vw, 350px);
  height: 90vh;
  min-height: 35.5rem;
  margin-top: 5vh;
  margin-right: 2.5vw;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  gap: 1.5%;
  z-index: 1;
}

.lyrics-container {
  position: sticky;
  margin-top: 5vh;
  height: 90vh; 
  min-height: 35.5rem;
  width: 100%;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 2rem 1.8rem 1.25rem;
  background: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.lyrics-container::-webkit-scrollbar {
  width: 0;
  height: 0; 
  background: transparent;
}

@media (max-width: 800px),(max-height: 35.4rem) {
  .main-container {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    
    margin-top: 5vw;
    /* gap: 0.5rem; */
  }

  .player-container {
    position: static;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .lyrics-container {
    position: static;
    min-width: unset; 
    width: min(90vw, 350px);
    max-width: 100%;
    margin: 5vh auto;
  }
}

.album-art {
  margin-bottom: 1rem;
}

.playlist {
  margin: 1rem 0;
}

.progress {
  margin: 1rem 0;
}

.error {
  grid-column: 1 / -1;
  padding: 2rem;
  background: #ffe6e6;
  border-radius: 8px;
  color: #cc0000;
  margin-top: 2rem;
}

.error ul {
  padding-left: 2rem;
  margin-top: 1rem;
}

.error li {
  list-style-type: disc;
  margin-bottom: 0.5rem;
}